<% provide(:title, "Sign in") %>
<h1 class="header-middle">Sign in</h1>

<div class="sign-in">
  <div>
    <%= form_for(:session, url: sessions_path, :html => {:id => "validate-login"}) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %><br />

      <%= f.label :password %>
      <%= f.password_field :password %>
<br />
      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>

<script>
  $("#validate-login").validate({
   rules: {
     "session[email]": {
       required: true,
       email: true
     },
     "session[password]": "required"
   },
   messages: {
     "session[email]": {
       required: "Please provide your email address",
       email: "Your email address must be in the format of name@domain.com"
     },
     "session[password]": "Password is mandatory"
   }
})
</script>