<% provide(:title, 'Sign up') %>
<h1 class="header-middle">Sign up</h1>

<div class="sign-in">
  <div>
    <%= form_for "/products", :html => { :id => 'registerHere'} do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, :id => "name" %><br />

      <%= f.label :email %>
      <%= f.text_field :email, :id => "email" %><br />

      <%= f.label :password %>
      <%= f.password_field :password, :id => "password" %><br />

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-large btn-success" %>
    <% end %>
  </div>
  <div id="fb-root"></div>
<div id="user-info"></div>
<p><button id="fb-auth">Login</button></p>
</div>
<div class="fb-login-button" data-show-faces="true" data-width="300" data-max-rows="1"></div>
<script>
  //$(document).ready(funtion(){
  
    $("#registerHere").validate({
   rules: {
     "user[name]": "required",
     "user[email]": {
       required: true,
       email: true
     },
     "user[password]": {required:true,minlength: 6}
   },
   messages: {
     "user[name]": "* Please specify your name",
     "user[email]": {
       required: "* Email address required for login.",
       email: "* Your email address must be in the format of name@domain.com"
     },
     "user[password]": {
      minlength:"* Password must be minimum 6 characters",
      required: "* Password is mandatory"},
     "user[password_confirmation]": {
        required:"* Enter confirm password"
     }
   }
})
  
  $(document).ready(funtion(){
  
    
  });
</script>