<%
cart_items = @items[:cart_items]
products = @items[:products]
%>
<div id="content">
  <div id="mainbar">
    <div id="main">
      <div class="page-head">
        <h1 style="margin-left: 181px;">My Cart</h1>
      </div>
      <div id="shoppingcart">
        <form action="/cart" method="post" name="cartform">
          <table cellpadding="10" cellspacing="0">
            <tbody><tr>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Delete</th>
                <th>Total</th>
              </tr>
              <% cart_items.keys.each do |item| %>
                <tr class="odd">
                  <td class="pic">
                    <div>
                      <a href="#">
                        <img src="http://dl.dropbox.com/u/14805214/<%= products[item].name %>.jpg" alt="<%= products[item].name %>" width="100px" height="100px" style="border-radius: 19px;">
                      </a>
                    </div>
                    <h3><a href="#"><%= products[item].name %></a></h3>
                  </td>
                  <td class="price">$<%= products[item].price %></td>
                  <td>
                    <select style="width: 47px;" class="select-quantity" product-id="<%= products[item].id %>">
                      <% (1..10).each do |i| %>
                        <% selectedvalue = cart_items[item].quantity == i ? "selected" : "" %>
                        <option value="<%= i %>" <%= selectedvalue %>><%= i %></option>
                      <%end%>
                    </select>
                  </td>
                  <td class="remove"><a href="#" class="delete" id="<%= item %>">Remove</a></td>
                  <td class="price">$<%= products[item].price * cart_items[item].quantity.to_i %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </form>
             <% if cart_items.size > 0 %>
              <p style="font-size:16px;margin-left: 301px;color: #333;">Total = $<%= @items[:total] %></p><br/>
              <div class="checkout">
                <a href="#">Checkout</a><br/>
              </div>
             <% end %>
        <div class="clr"></div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $(".delete").click(function(){
      $.ajax({
        url: "/cart/?request_for=delete&product_id="+ this.id,
         success: function(data) {
                  var cartItems = 0;
                  $('#content').html(data);
                  $("input.field").each(function(){
                    cartItems += Number($(this).val());
                  });
                  $(".icon").html('<span class="icon"><i class="icon-shopping-cart icon-white"></i> '+ cartItems +' item</span>');
                  }
      });
    });
    $(".select-quantity").change(function(){
      var product_id = $(this).attr("product-id");
      var qty = $(this).val();
      $.ajax({
        url: "/update-quantity",
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        type: "POST",
        data: {product_id: product_id,quantity: qty},
        success: function(){
                    location.reload();
        }
      });
    });
  });
</script>


