<%- model_class = Product.new.class -%>
<div class="page-header">
</div>
<div class="container"  style="display:inline;">  
  <ul class="thumbnails"> 
    <% @products.each do |product| %>
      <li class="span3">  
        <div class="thumbnail">  
          <img src="http://dl.dropbox.com/u/14805214/<%= product.name %>.jpg" height="195" width="260"  alt="product">  
          <div class="caption">  
            <h5><%= product.name %></h5>  
            <p style="color:cadetblue"><b>$<%= product.price %></b></p>  
            <p> <a class="btn btn-warning" data-toggle="modal" href="#myModal_<%= product.id %>" >More info</a>
              <%= button_to 'Add to Cart', "/carts/insert-into-cart/?product_id=#{product.id}",class: "btn btn-primary", :remote => true %>
            </p>  
          </div>  
        </div>  
      </li>

      <div class="modal hide" id="myModal_<%= product.id %>">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h3><%= product.name %></h3>
        </div>
        <div class="modal-body">
          <p>
            Food is any substance consumed to provide nutritional support for the body. It is usually of plant or animal origin, and contains essential nutrients, such as carbohydrates, fats, proteins, vitamins, or minerals. The substance is ingested by an organism and assimilated by the organism's cells in an effort to produce energy, maintain life, or stimulate growth.
            Historically, people secured food through two methods: hunting and gathering, and agriculture. Today, most of the food energy consumed by the world population is supplied by the food industry.
            Food safety and food security are monitored by agencies like the International Association for Food Protection, World Resources Institute, World Food Programme, Food and Agriculture Organization, and International Food Information Council. They address issues such as sustainability, biological diversity, climate change, nutritional economics, population growth, water supply, and access to food.
            The right to food is a human right derived from the International Covenant on Economic, Social and Cultural Rights (ICESCR), recognizing the "right to an adequate standard of living, including adequate food", as well as the "fundamental right to be free from hunger".
          </p>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
        </div>
      </div>

    <% end %>
  </ul>
</div>
<script type="text/javascript">
  var maxHeight = 0;
  $(function() {
    $('.thumbnails li').each(function() 
      { 
        maxHeight = Math.max(maxHeight, $(this).height()); }).height(maxHeight);

  });
  
</script>